<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sidebar</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
  <!-- Sidebar -->
  <div class="sidebar">
    <a href="/card" class="active">Dashboard</a>
    <a href="/form">Attendance Form</a>
  </div>

  <!-- Toggle Button -->
  <div class="toggle-btn" onclick="toggleSidebar()">☰</div>
</body>
</html>